<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.luispiressilva.kilabs_luis_silva">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
                android:name=".ui.TestFragmentActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
    </application>

</manifest>